<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-table [columns]="userColumns" [value]="users" selectionMode="single"
  [responsive]="true" [paginator]="true" [rows]="10" [scrollable]="true" [resizableColumns]="true"
  columnResizeMode="expand" [autoLayout]="true">
  <ng-template pTemplate="caption">
    <div style="text-align: left">
      <button type="button" pButton icon="fa fa-plus"  (click)="addNewUser()" label="Add User" 
      style="margin-right: 0.4%"></button>&nbsp;&nbsp;<button type="button" pButton icon="fa fa-cogs"  (click)="gotoPosition()" label="Settings" 
      style="margin-right: 0.4%"></button> 
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th *ngIf="!col.hide">
          {{col.header}}
        </th>
      </ng-container>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <ng-container *ngFor="let col of columns">
        <td *ngIf="!col.hide">
          {{rowData[col.field]}}
        </td>
      </ng-container>
      <td>
        <button type="button" pButton icon="fa fa-edit"   (click)="editUser(rowData)"
          pTooltip="edit"></button>&nbsp;
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      
    </div>
  </ng-template>
</p-table>